<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Book</title>
</head>
<body>
  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Delete Book</title>
    <link rel="stylesheet" href="./css/addbook.css">
  </head>

  <body>
    {{>Admin1}}
    <form action="/deletebook" method="post" class="addbookform">
      BookName : &nbsp&nbsp&nbsp&nbsp <input type="text" name="BName" class="inputadd"> <br><br>
      ISBN : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="number" class="inputadd" name="isbna"><br><br>
      <input type="submit" value="Submit" class="inputadd" style="border:1.6px solid white; background-color:white; color:black; margin-left:4vw; font-weight:600;text-shadow: 2px 2px 2px white;">
    </form>
  </body>
</html>

</body>
</html>