.addbookform{
    position:absolute;
    left:35%;
    margin-top: 7vw;
    background-color:rgba(0,0,0,0.7);
    text-transform: capitalize;
    color: aliceblue;
    padding: 2vw;
    font-size: 1.2vw;
    text-shadow: 2px 2px 2px black;
}
.inputadd{
    width: 18vw;
    background: transparent;
    outline: none;
    border:none;
    border-bottom: 1.6px solid white;
    color:white;
    text-shadow: 2px 2px 2px black;

}