
.welcome {
    position: relative;
    top: 18vw;
    left: 18vw;
    text-align: center;
    font-size: 2.9vw;
    font-weight: 700;
    color: rgb(217, 227, 229);
    font-family: 'Segoe UI', sans-serif;
    text-shadow: -1px -1px 1px #000, -1px -1px 2px #000,
        -1px -1px 2px #000, -1px -1px 2px #000,
        -1px -1px 2px #000, -1px -1px 2px #000, -1px -1px 2px #000;
}

.para {
    position: relative;
    top: 19vw;
    left: 18vw;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 500;
    color: rgb(217, 227, 229);
    font-family: 'Segoe UI', sans-serif;
    text-shadow: -1px -1px 1px #000, -1px -1px 2px #000;
}
.features {
    position: absolute;
      padding: 60px 20px;
      margin-top: 45vw;
      width: 100%;
    }
    .feature-card {
      padding: 30px;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      transition: transform 0.3s;
    }
    .feature-card:hover {
      transform: translateY(-5px);
    }
    .feature-icon {
      font-size: 2.5rem;
      color: #0d6efd;
    }
    .footer {
        position:fixed;
        bottom:0vw;
        left: 0vw;
        width: 100%;
      background-color: #0d6efd;
      color: white;
      padding: 30px 0;
      text-align: center;
    }

    @media (max-width: 768px) {

    .carouselSlider{
      margin-top: 15vw;
    }
    .welcome {
    margin-top: 15vw;
}
.features {
      margin-top: 60vw;
    }
  }

  @media (max-width: 580px) {

    .carouselSlider{
      margin-top: 21vw;
    }
    .welcome {
    margin-top: 25vw;
}
.features {
      margin-top: 67vw;
    }
  }
  @media (max-width: 440px) {

    .carouselSlider{
      margin-top: 29vw;
    }
    .welcome {
    margin-top: 30vw;
}
.features {
      margin-top: 72vw;
    }
  }